html, body {
    width: 100%;
    min-width: 325px;
    height: 100%;
}
body {
    margin-bottom: -2em;
    font-size: 10px;
    font-family: 'Noticia Text', serif;
    background-color: #EEEEEE;
}

a {
    color: #5268d7;
}

strong, b {
    font-weight: bold;
}

h1 {
    font-size: 8em;
    font-weight: bold;

}

h2 {
    font-size: 3.5em;
    padding: 35px 0 20px 0;
    text-shadow: 0px 3px 2px rgba(225, 225, 225, 1);
}

h3 {
    font-size: 2.5em;
    padding: 20px 0;
    text-shadow: 0px 3px 2px rgba(225, 225, 225, 1);
}

hr {
    border: 0px;
    border-bottom: #e6e6e6 solid 1px;
    margin: 15px auto;
    width: 78%;
}

p {
    font-size: 1.8em;
    line-height: 1.6;
    color: #444;
}

p b {
    font-size: 1.2em;

}

img.autoscale {
    height:auto;
    width:auto;
    max-height: 100%;
    max-width: 100%;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.tl {
    text-align: left;
}
.tr {
    text-align: right;
}

.fl {
    float: left;
}
.fr {
    float: right;
}

#page-container {
    height: 100%;
}

#profile-name {
    padding-top: 30px;
    color: white;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 1);
    white-space: nowrap;
}

nav {
    height: 180px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

#nav-container {
    padding-top: 20px;
    font-size: 1.5em;
}

#main-banner {
    background: -moz-linear-gradient(133deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(176,106,179,1)), color-stop(100%, rgba(69,104,220,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(133deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(133deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(133deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%); /* ie10+ */
    background: linear-gradient(317deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B06AB3', endColorstr='#4568DC',GradientType=0 ); /* ie6-9 */
    box-shadow: 0px 1px 5px 0px rgba(173, 173, 173, 1);
    height: 114px;
    vertical-align: middle;
}

#button-bar {
    height: 181px;
    position: relative;
    top: -100px;
    margin-bottom: -120px;
}
#profile-pic {
    background: #fff url("../images/profile.png");
    height: 175px;
    width: 175px;

}
#profile-pic:before {
    bottom: 78px;
}

.button-link.small{
    background-color: white;
    height: 45px;
    width: 45px;
    top: -57px;
}
.button-link.small i {
    position: absolute;
    top: 3px;
    left: 5px;
    color: #333;
}

.button-link {
    position: relative;
    display: inline-block;
    border-radius: 100px;
    border: 3px solid white;
    box-shadow: 0px 1px 5px 0px rgba(173, 173, 173, 1);
}

.button-link:hover {
    cursor: pointer;
    cursor: hand;
}

.button-link:after, .button-link:before{
    position: absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.button-link:after {
    border-radius: 100px;
    content:'\A';
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.25);
}

.button-link.label:before {
    content: attr(data-content);
    width: 100%;
    color: #fff;
    z-index: 1;
    left: 0;
    bottom: 0;
    padding: 4px 10px;
    background: rgb(190, 83, 83);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.button-link:hover:after, .button-link.label:hover:before {
    opacity:1;
}

#main-content {
    width: 80%;
    max-width: 920px;
    padding: 10px 40px 40px 40px;
    background: #f3f3f3;
    border-radius: 25px;
    box-shadow: 0px 1px 2px 1px rgb(230, 230, 230);
    margin-bottom: 100px;
}

footer {
    width: 100%;
    height: 30px;
    background: #2d2d2d;
    opacity: 0.9;
    position: fixed;
    bottom: 0px;
    box-shadow: 0px -1px 5px 0px rgba(173, 173, 173, 1);
    color: #fff;
}

footer a {
    color: #8799f1;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;


}
#footer-container {
    padding-top: 8px;
    width: 80%;
    font-size: 1.2em;
}

.terminal {
  position: relative;

}
.terminal::after {
  position: relative;
  content: "";
  top: 0;
  right: 0.1em;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: #d2d2d2;
  vertical-align: top;
  width: 0.5em;
  /* Set height to the line height of .text */
  height: 1em;
  /*
  Animation paramaters:
  blink = animation-name,
  1s = animation-duration,
  step-end = animation-timing-function,
  10 = animation-iteration-count
  */
  -webkit-animation: blink 1.5s step-end 10;
  animation: blink 1.5s step-end 10;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
